.ButtonGroup {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/**
 *
 */
.Button {
  display: block;
  height: 2em;
  border: 1px solid $color-white;
  padding: 0 20px;
  
  line-height: 1.95em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  letter-spacing: 0.04em;

  font-family: $font-sans;
  font-size: 1.25em;
  font-weight: 400;

  color: $color-white;
  cursor: pointer;

  transition: color 150ms;

  &.Button--page {
    color: $color-grey-mid;

    .Page--modal & {
      color: $color-white;
    }
  }

  .mousemove &:hover {
    color: $color-yellow;
    border-color: $color-yellow!important;
  }

  &.is-disabled {
    color: $color-grey-light;
    pointer-events: none;
    cursor: default;
  }
}