/**
 *
 *
 *
 */
.CarouselItem {
  width: (100% / 6);
  height: 100%;

  color: $color-white;
  text-align: center;

  position: relative;

  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
}


.CarouselItem-media {
  
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img, video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    min-width: 100%;
    min-height: 100%;
  }
}

.CarouselItem.overlay-active {


  .CarouselItem-details {
    visibility: hidden;
  }
}


/**
 *
 *
 *
 */
.CarouselItem-details {
  z-index: 200;
  transform: translate3d(0px, 0px, 0px);
}


/**
 *
 *
 *
 */
.CarouselItem-subTitle {
  display: block;
  margin-bottom: 20px;

  font-size: 1.6em;
  font-style: italic;
  font-weight: 200;

  @media #{$mq-medium} {
    font-size: 2.2em;
  }

  @media #{$mq-y-mobile-landscape} {
    font-size: 1.6em;
    // margin-bottom: 15px;
  }
}


/**
 *
 *
 *
 */
.CarouselItem-title {

  font-size: 2em;
  margin: 0 60px;
  line-height: .9em;
  font-weight: 600;

  @media #{$mq-medium} {
    font-size: 4em;
  }

  @media #{$mq-large} {
    font-size: 6.875em;
  }

  @media #{$mq-y-mobile-landscape} {
    font-size: 3.6em;
  }
}


/**
 *
 *
 *
 */
.CarouselItem-cta {
  margin-top: 30px;
  color: $color-white;

  @media #{$mq-y-mobile-landscape} {
    margin-top: 25px;
  }
}


/**
 *
 *
 *
 */
.CarouselItem-videoOverlay {
  // display: none;
}
