.Channel {
    margin-bottom: 1.25em;
}

.Channel--large {
    margin-bottom: 2.5em;
}

.Channel--xLarge {
    margin-bottom: 3.75em;
}

.Channel--jumbo {
    margin-bottom: 5em;
}

.Channel--xJumbo {
    margin-bottom: 7em;
}

.Channel--small {
    margin-bottom: 0.625em;
}

.Channel--xSmall {
    margin-bottom: 0.313em;
}