/**
 *
 *
 *
 */
.HeaderOpen {
  display: none;
  overflow: hidden;
  border-bottom: 1px solid $color-grey-light;

  &.is-active {
    display: block;
  }
}



/**
 *
 *
 *
 */
.HeaderOpen {

  cursor: pointer;

  text-align: center;
  font-style: italic;
  font-size: 1.25em;

  background: $color-grey-mid;
  color: $color-white;

  transition: background 150ms, color 150ms;

  .mousemove &:hover {

    background: $color-yellow;
    color: $color-black;
  }
}



/**
 *
 *
 *
 */
.HeaderOpen-icon {
  display: block;
  margin-bottom: 10px;
  font-size: 1.4em;
  width: 32px;
  margin: 0 auto 10px;

  svg {
    stroke: $color-white;
    transition: all 150ms;
     .mousemove .HeaderOpen:hover & {
      stroke: $color-black;
    }
  }
}