.Header {
  position: absolute;
  top: 2em;
  left: 0em;

  z-index: 150;

  width: 100%;
  padding: 0 2em;
}


.Header-hamburger {
  float: left;
}

.Header-logo {
  display: block;
  width: 80px;
  height: 27px;
  float: right;

  svg path {
    fill: $color-grey-light;
  }
}
