.Loading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 4px;

  z-index: 1000;

  transform: translate3d(0px, -4px, 0px);

  transition: transform 150ms;

  &.is-active {
    display: block;
    transform: translate3d(0px, 0px, 0px);
    z-index: 200000;
  }
}


.Loading-inner {
  width: 0%;
  height: 4px;
  background: $color-grey-mid;
  background: blue;
  display: block;

  transition: width 2s;
}

.Loading.is-active .Loading-inner {
  width: 100%;
}
