.MenuToggle {
  float: left;
  width: 25px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;

  .bar {
    height: 1px;
    background-color: $color-grey-light;
    transition: background 150ms;
    opacity: 1;
  }
}
