.Post {
  height: 100%; // important
  text-align: center;
}

.Post-content {
  background-color: $color-grey-mid;
}

.Post-summary {
  font-weight: bold;
  font-size: 2.5em;

  @media #{$mq-medium} {
    font-size: 4em;
  }
}

.Post-caption {

  overflow: hidden;
  padding-top: 4em;

  p {
    margin-bottom: 2em;
  }

  a {
    border-bottom: 1px solid $color-grey-light;
  }
}

.Post-date {
  font-family: $font-serif;
}

.Post-content p {}

.Post-content img {
  display: block;
  width: 500px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.Post-prevPost {
  background: $color-grey-light;
  color: $color-grey-dark;
}
