/**
 *
 *
 */
.Search {
  float: right;
  color: $color-grey-light;
  display: flex;
  align-items: center;

  &.is-active {

    .Search-input {
      display: block;
    }

    .Search-toggle {
      display: none;
    }
  }
}


/**
 *
 *
 */
.Search-input {
  display: none;
  background: none;
  border: 0 none;
  font: inherit;
  margin-top: 20px;
  padding: 5px;
  text-align: right;
  outline: none;

  color: $color-grey-mid;
}


/**
 *
 *
 */
.Search-toggle {
  font-size: 1em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  text-align: center;

  svg {
    transition: all 150ms;
    fill: $color-grey-light;
  }

  .mousemove &:hover {
    color: $color-yellow;

    svg { fill: $color-yellow; }
  }
}


/**
 *
 *
 */
.Search-submit {
  border: 0 none;
  padding: 0;
  margin: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.Search-noResults {
  margin-top: 20px;
  font-size: 1.4em;
}