.Social {}

.Social-item {
    float: left;
    margin-right: 1em;
}

.Social-media {
    overflow: visible;
}

.Social-noteCount {
    text-transform: uppercase;
    font-family: $font-sans;
    font-weight: 600;
    font-size: 1.125em;
    color: $color-grey;
}

.Social-notes {
    margin-top: 1em;
    display: none;

  @media #{$mq-medium} {
    display: block;
  }
}