.TagCollection {
  width: 100%;
  text-align: center;
}


.TagCollection-item {
  display: inline-block;
}




.TagCollection--index {

  height: 70px;
  display: none;
  justify-content: space-between;
  align-items: center;

  @media #{$mq-medium} {
    display: flex;
  }

  .TagCollection-item {
    height: 100%;
    width: 100%;
    border-left: 1px solid $color-grey-light;

    display: flex;
    align-items: center;
  }
}

.TagCollection--navbar {
  border-right: 1px solid $color-grey-light;
}



.TagCollection--menu {
  border: 0 none;
  display: block;
  text-align: left;
  font-size: .8em;
  color: $color-grey-dark;
  fill: $color-grey-dark;

  .TagCollection-item {
    display: block;
    clear: both;
    overflow: hidden;
  }

  .Tag {
    margin: 0;
    border: 0 none;
    width: auto;
    height: auto;
    text-align: left;
    text-align: center;
  }

  .Tag-icon {
    display: inline-block;display: none;
  }

  .Tag-inner {
    display: inline-block;
    // float: left;
    position: static;
    opacity: 1;
    background: transparent;
    margin: 0;
    min-width: 0px;
  }

  .Tag-text {
    background: transparent;
    font-size: inherit;
    padding: 0;
  }

  .Tag-nubbin { display: none; }
}