.TumblrActions {
  text-align: center;
}

.TumblrActions-title {
  font-size: 1.25em;
  font-style: italic;
  margin-bottom: 2 * $spacing;
}

.TumblrActions-items {
  overflow: hidden;
}

.TumblrActions-item {
  display: inline-block;
  margin: 0 .4em;
}

.TumblrActions .reblog_button,
.TumblrActions .like_button {}

.TumblrActions .reblog_button {}

.TumblrActions .like_button {}