@import url("//hello.myfonts.net/count/2b5184");

@import "./../../bower_components/normalize-scss/normalize";

@import "vars";

@import "html-elements/fonts";
@import "html-elements/text";

@import "components/about";
@import "components/channel";
@import "components/chrome";
@import "components/clearfix";
@import "components/contact";
@import "components/footer";
@import "components/hamburger";
@import "components/header"; 
@import "components/listing";
@import "components/loading";
@import "components/island";
@import "components/menu";
@import "components/page";
@import "components/post-pagination";
@import "components/preview";
@import "components/post";
@import "components/section";
@import "components/wrapper";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $color-grey-light;
  color: $color-grey-light;
  font-size: 16px;
  font-family: $font-sans;
  line-height: 1.4em;
}

