h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;

  transition: color 150ms;
}

p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
